.App {
  text-align: center;
  /* background-color: rgba(78, 77, 77, 0.411); */
  /* background-color: #490eb7; */
  background-color: #360a8e67;
}

.container {
  border-right: 3px #000 solid;
  border-left: 3px #000 solid;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}